@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');


*{
	font-family: 'Poppins', sans-serif;
	margin: 0 auto 0 auto;
}
	#header
	{
		height:70px;
		width:100%;
		background-color:white;
		color:#111;
		text-indent:10px;

	}

#header img
	{
		position:absolute;
		width: 45px;
		margin-left:20px;
		margin-top:22px;
	}

#header label
	{
		position:relative;
		top:25px;
		color: #111;
		text-indent:80px;
		font-size:1.5em;
		clear:both;
		font-family:arial;
	}

#header ul
	{
		list-style-type:none;
		position:relative;
	}

#header ul li
	{
		display:inline;
		float:right;
		margin-right:20px;
	}

#header ul li a
	{
		text-decoration:none;
		color: white;
	}

#header ul li a:hover
	{
		color: white;
	}

#container
	{
		margin:auto;
		width:1150px;
	}

#container-aboutUS{
	margin: auto;
	width:1000px;
}

#container-aboutUs h3{
	margin-left: 260px;
}

#content-aboutUs{
	border: #F76E11 1px solid;
}

#content-aboutUs p{
	font-size: 18px;
	padding: 20px;
}


#content
	{
		top:10px;
		padding: 0 50px 50px;
		width: 1000px;
	}

.nav {
		font-size: 13px;
		background-color: white;
		padding-top: 10px;
		padding-bottom: 4px;
		display: flex;
		justify-content: center;
		margin-top: 25px;
	}

.nav ul{
		border-bottom: #F76E11 solid 2px;
}

.nav ul li{
		display:inline-block;
		position:relative;
		margin: 0 15px;
}
.nav ul i{
		margin-top: 3px;
		position: relative;
}

.nav ul li a
	{
		text-decoration:none;
		color:#111;
		font-weight: bold;
		font-family: century gothic;
		padding: 0 35px 0 35px;
		font-size: 15px;
	}

.nav ul li a:hover
	{
		color:#F76E11;
	}
#carousel
	{
		display: block;
		margin-left: 86px;
		width:700px;
		height:300px;
	}

.welcomeNote{
	text-align: center;
}

.welcomeNote h1{
	font-size: 60px;
}

.carousel
	{
		width:1000px;
		height:500px;
	}

.profile
	{
		font-size:20px;
		padding:5px;
	}
.nav li a
	{
	padding:10px;
	}

.nav1
	{
		font-size:20px;
		text-decoration:none;
		text-align:center;
	}

.nav1 ul li
	{
		padding:10px;
		display:inline;
	}

.nav1 ul li a
	{
		text-decoration:none;
		color:#999;
	}

.nav1 ul li a:hover
	{
		color:#F76E11;
	}

/*.content
	{
	width:500px;
	height:500px;
	}*/

.login_title{
	font-size: 26px;
	color: black;
	font-family: 'Poppins', sans-serif;
	border-bottom: dashed 1px #CCCCCC;
	margin: 10px 20px 5px;
	line-height: 35px;
	font-weight: bold;
	}
.content h3
	{
	font-size:10px;
	margin-left:15px;
	}

#account
	{
		position:relative;
		margin-top:2%;
	}

#account form table tr td
	{
		font-size:18px;
	}

#admin form
	{
		position:relative;
		width:350px;
		height:200px;
		margin:auto;
		margin-top:5%;
	}
#product
	{
		position:relative;
		width:1150px;
		height:auto;
	}

.float
	{
		width:300px;
		height:330px;
		float:left;
		margin-left:55px;
		margin-bottom:15px;
		font-size:17px;
	}

.float img
	{
		width:300px;
		height:230px;
	}


#product img:hover
	{
		border:8px groove #ccc;
		width:280px;
		height:210px;
	}

.active
	{
		color: #F76E11;
		border-bottom:5px solid #F76E11;
		padding:10px;
	}

#footer
	{
		position:relative;
		text-align: center;
		color:#fff;
		width:100%;
		height:200px;
		clear:both;
		background: #F76E11;
		box-shadow:0px 0px 20px 0px #F76E11;
		border-top:1px solid #F76E11;
	}

.foot{
	margin-top: 30px;
}

#develop
	{
		position:relative;
		float:right;
		margin-right:15%;
	}

#develop ul a li
	{
		text-decoration:none;
		display:block;
		color:#fff;
	}

#develop ul a li:hover
	{
		-webkit-box-shadow:2px 2px 2px black;
		-moz-box-shadow:2px 2px 2px black;
		box-shadow:2px 2px 2px black;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		border-radius:5px;
		position:relative;
	}

#leftnav
	{
		position:fixed;
		background-color: white;
		width:200px;
		top:7%;
		height:650px;
	}

#leftnav ul
	{
		list-style-type:none;
		text-indent:35px;
		right:25px;
		position:relative;
	}

#leftnav ul li
	{
		padding-top:10px;
		padding-bottom:10px;
		width:200px;
	}

#leftnav ul li a
	{
		text-decoration:none;
		color:#333;
		font-size:20px;
	}

#leftnav ul li a:hover
	{
	color: black;
	}

#leftnav ul li ul
	{
		display:none;
	}

#leftnav ul li:hover ul
	{
		display:block;
	}

#leftnav ul li:hover ul li
	{
		padding:0;
		border:0px solid #111;
	}



#rightcontent
	{
		position:relative;
		width:1025px;
		top:50px;
		left:220px;
		z-index:-99999;
	}
